@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 94.12%;
    --foreground: 0 0% 20%;
    --card: 0 0% 96.08%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 96.08%;
    --popover-foreground: 0 0% 20%;
    --primary: 0 0% 37.65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 87.84%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 85.10%;
    --muted-foreground: 0 0% 40%;
    --accent: 0 0% 75.29%;
    --accent-foreground: 0 0% 20%;
    --destructive: 0 60.00% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 81.57%;
    --input: 0 0% 87.84%;
    --ring: 0 0% 37.65%;
    --chart-1: 0 0% 37.65%;
    --chart-2: 180 17.92% 33.92%;
    --chart-3: 0 0% 56.47%;
    --chart-4: 0 0% 65.88%;
    --chart-5: 0 0% 75.29%;
    --sidebar: 0 0% 91.76%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 0 0% 37.65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 75.29%;
    --sidebar-accent-foreground: 0 0% 20%;
    --sidebar-border: 0 0% 81.57%;
    --sidebar-ring: 0 0% 37.65%;
    --font-sans: Montserrat, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.35rem;
    --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
    --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
    --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
    --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
  }
  .dark {
    
    --background: 0 0% 10.20%;
    --foreground: 0 0% 85.10%;
    --card: 0 0% 12.55%;
    --card-foreground: 0 0% 85.10%;
    --popover: 0 0% 12.55%;
    --popover-foreground: 0 0% 85.10%;
    --primary: 0 0% 85.75%;
    --primary-foreground: 0 0% 10.20%;
    --secondary: 0 0% 18.82%;
    --secondary-foreground: 0 0% 85.10%;
    --muted: 0 0% 16.47%;
    --muted-foreground: 0 0% 50.20%;
    --accent: 0 0% 25.10%;
    --accent-foreground: 0 0% 85.10%;
    --destructive: 0 66.30% 63.92%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20.78%;
    --input: 0 0% 18.82%;
    --ring: 0 0% 62.75%;
    --chart-1: 0 0% 62.75%;
    --chart-2: 187.06 15.18% 56.08%;
    --chart-3: 0 0% 43.92%;
    --chart-4: 0 0% 34.51%;
    --chart-5: 0 0% 25.10%;
    --sidebar: 0 0% 12.16%;
    --sidebar-foreground: 0 0% 85.10%;
    --sidebar-primary: 0 0% 62.75%;
    --sidebar-primary-foreground: 0 0% 10.20%;
    --sidebar-accent: 0 0% 25.10%;
    --sidebar-accent-foreground: 0 0% 85.10%;
    --sidebar-border: 0 0% 20.78%;
    --sidebar-ring: 0 0% 62.75%;
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.35rem;
    --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
    --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
    --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
    --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);  
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}